:root {
  --app-font-body: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", sans-serif;
  --app-font-display: "big-caslon-fb", "Big Caslon CC", "Big Caslon", Georgia,
    "Times New Roman", serif;
  --Typography-Body-Default-fontFamily: var(--app-font-body);
  --Typography-Body-Medium-fontFamily: var(--app-font-body);
  --Typography-Body-Disclaimer-fontFamily: var(--app-font-body);
  --Typography-Caption-Data-fontFamily: var(--app-font-body);
  --Typography-Caption-Label-fontFamily: var(--app-font-body);
  --Typography-Interaction-Button-fontFamily: var(--app-font-body);
  --Typography-Headlines-Display-fontFamily: var(--app-font-display);
  --Typography-Headlines-Eyebrow-fontFamily: var(--app-font-display);
  --Typography-Headlines-Heading-1-CAPS-fontFamily: var(--app-font-display);
  --Typography-Headlines-Heading-2-fontFamily: var(--app-font-display);
}

body {
  margin: 0;
  font-family: var(--app-font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
