/* header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  flex-direction: row;
  gap: 50px;

  position: relative;

  height: 80px;
} */

header {
  display: flex;
  height: 61px;
  padding-top: var(--Spacing-24, 24px);
  justify-content: center;
  align-items: flex-end;
  gap: var(--Padding-3xl, 32px);
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid var(--Border-Neutral-Default, rgba(28, 28, 28, 0.2));
  background: #fff;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 24px;
  left: 24px;
}

.logo svg,
.logo path {
  fill: #1c1c1c;
}

.feedback-icon-container {
  padding: 10px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: 35px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* Ensure cursor is a pointer */
  animation: pulse-animation 2s infinite;
  /* Apply the animation */
  transition: background-color 0.2s;
  /* Add a transition for background-color */
  width: 25px;
  height: 25px;
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
}

.feedback-icon-container:hover {
  background-color: #f0f0f0;
  /* Slightly lighter background on hover */
}

.feedback-icon-container:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  animation: none;
  /* Disable animation when disabled */
}

.header-link {
  text-decoration: none;
  font-family: Mulish, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.39px;
  color: #1c1c1c;
  padding: 12px 0;
  font-size: 13px;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.header-link:hover,
.header-link-active {
  border-bottom-color: #1c1c1c;
}

.header-link svg {
  display: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.volume-icon {
  width: 20px;
  height: 20px;
}

.rating-icon {
  width: 25px;
  height: 25px;
}

.volume {
  width: 25px;

  padding: 10px;
  padding-top: 0;
  border-radius: 0%;
  border-bottom: 1px solid white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.volume svg {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    margin: 18px 18px 0 18px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    max-width: 100vw;
    height: unset;
  }

  .logo {
    all: unset;
  }

  .logo svg {
    width: 160px;
    height: auto;
  }

  .links {
    padding-top: 24px;
  }

  .feedback-icon-container {
    width: 20px;
    height: 20px;
    right: 15px;
    top: 20px;
    /* Adjusted position for mobile */
  }

  /* .header-link span {
    display: none;
  } */

  .header-link {
    font-size: 11px;
  }

  .volume {
    border: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 10px;
  }

  .volume svg {
    transform: scale(1.2);
  }

  .header-link svg {
    display: block;
    transform: scale(1.6);
  }
}
