/* GuestNotifications.css - Mobile Only */
body {
  box-sizing: border-box;
  background-color: #1c1c1c;

}

.guest-notifications {
  box-sizing: border-box;
  margin: 10px auto;
  padding: 35px 35px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #1c1c1c;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: calc(100vh - 20px);

}

.guest-notifications h1 {
  font-family: 'Big Caslon', 'Times New Roman', serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  color: white;
  margin: 0;
  font-size: 30px;
}

.guest-notifications h2 {
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  color: white;
  margin: 0;
  font-size: 20px;
}

.guest-notifications h3 {
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  color: white;
  margin: 0;
  font-size: 15px;
}

.notification-list {

  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  /* For flexbox scrolling */

  /* Hide scrollbar for Webkit browsers */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.notification-list::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.notification-item {
  border-bottom: 1px solid #555;
  padding: 10px;
  /* Reduced padding */
  transition: background-color 0.3s ease, text-align 0.3s ease;

}

.notification-item:last-child {
  border-bottom: none;
}

.notification-message {
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;

  font-weight: 500;
  font-size: 16px;
  /* Smaller font size for mobile */
  line-height: 1.6em;

  margin-bottom: 3px;
  /* Reduced margin */
}

.notification-time {
  font-size: 14px;
  /* Smaller font size for mobile */
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;

  opacity: 0.8;
}

/* New Styles for Shoreside and Shipside */

.shoreside-notification {
  background-color: white;
  color: #1c1c1c;
  text-align: center;
}

.shipside-notification {
  background-color: #c7ddf3;
  text-align: center;

  color: #1c1c1c;

}

.custom-notification {
  background-color: black;
  text-align: center;
}

.blinking-notification {
  animation: blinker 1s linear 2;
  /* Blink 3 times */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}



@media screen and (max-width: 600px) {
  .guest-notifications {
    padding: 20px 15px;
    /* Further reduced padding for mobile */
    margin: 10px;
    /* Further reduced margin for mobile */
    height: calc(100vh - 20px);
  }

  .guest-notifications h1 {
    line-height: 1.1em;
    letter-spacing: 0.05em;
    font-size: 25px;
  }

  .guest-notifications h2 {

    font-weight: 200;
    line-height: 1.2em;
    letter-spacing: 0.05em;

    font-size: 15px;
  }

  .guest-notifications h2 {

    font-weight: 200;
    line-height: 1.2em;
    letter-spacing: 0.05em;

    font-size: 10px;
  }

  .notification-item {
    padding: 8px;
    /* Further reduced padding */
  }

  .notification-message {
    font-size: 12px;
    /* Further reduced font size for mobile */
  }

  .notification-time {
    font-size: 10px;
    /* Further reduced font size for mobile */
  }

  .feedback-icon-container {
    width: 20px;
    height: 20px;
    right: 15px;
    top: 20px;
    /* Adjusted position for mobile */
  }


}


.map-h2 {

  font-size: 15px !important;
}