.custom-popup .leaflet-popup-content-wrapper {
    background: #222;
    color: #fff;
    border-radius: 8px;
    font-size: 0.8rem;
    padding: 4px;
    text-align: center;
}

.custom-popup .leaflet-popup-tip {
    background: #222;

}

.leaflet-popup-content {
    margin: 15px 10px 10px 10px;
}

.leaflet-control-attribution {
    background: rgba(2, 1, 66, 0.7) !important;
    /* semi-transparent dark background */
    color: #f9f9f930;
    /* white text */
    font-size: 5px;
    /* smaller font */
    padding: 2px 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.center-map-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5000;
    padding: 8px 14px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.85;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.center-map-btn:hover {
    opacity: 1;
}

.loading-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
}

.loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.pier-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.pier-popup span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: 12px;
}

.copy-coordinates-btn {

    padding: 6px 4px 1px 2px;
    background: #ffffff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.85;
    transition: opacity 0.2s;

}

.copy-coordinates-btn svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.toast {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #c7ddf3;
    color: #1c1c1c;
    padding: 10px 24px;
    border-radius: 0;
    box-shadow: 0 2px 12px #0003;
    z-index: 9999;
    font-size: 1em;
    opacity: 0.95;
    pointer-events: none;
}